body{
    font-family: 'Patrick Hand', cursive;
    font-size: 80%;
    background-color: rgb(172, 246, 246);
    background-image: url(fondomarvel.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: rgb(255, 255, 255);
}
p{
    text-align: justify;
    font-size: 20px;
}
table{
    border: 5px solid rgb(87, 24, 73);
    font-size: 20px;
    background-color: rgb(136, 177, 180);
    color:black;

}
a{
    color:rgb(15, 14, 14);
    background-color: rgb(136, 177, 180);
}
header{
    font-size: 32px;
    background-color: rgb(101, 144, 150);
    color:black;
}
a:link {
    color: rgb(10, 108, 135);
    background-color: rgb(136, 177, 180);
    text-decoration: none;
  }
  a:visited {
    color: rgb(7, 7, 7);
    background-color: rgb(136, 177, 180);
    text-decoration: none;
  }
  a:hover {
    color: rgb(139, 103, 141);
    background-color: rgb(136, 177, 180);
    text-decoration: underline;
  }
  a:active {
    color: rgb(99, 124, 170);
    background-color: rgb(136, 177, 180);
    text-decoration: underline;
  }
img{
    border: 5px solid rgb(185, 86, 32);
    border-radius: 5px  ;
}
h1{
    filter: alpha(opacity=50);
}
li{
    text-align: justify;
    font-size: 25px;
}
h1{
    background-color: rgb(39, 97, 113);
    text-align: center;
}
td{
    border: 5px solid rgb(87, 24, 73);
}